body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:763px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u70 {
  position:absolute;
  left:58px;
  top:244px;
  width:200px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
}
#u72 {
  position:absolute;
  left:61px;
  top:275px;
  width:169px;
  height:21px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:21px;
}
#u74 {
  position:absolute;
  left:60px;
  top:306px;
  width:518px;
  height:21px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:500px;
}
#u76 {
  position:absolute;
  left:1px;
  top:0px;
  width:600px;
  height:500px;
}
#u77 {
  position:absolute;
  left:2px;
  top:242px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:186px;
}
#u78 {
  position:absolute;
  left:378px;
  top:3px;
  width:171px;
  height:186px;
}
#u79 {
  position:absolute;
  left:2px;
  top:85px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:119px;
}
#u80 {
  position:absolute;
  left:111px;
  top:14px;
  width:158px;
  height:119px;
}
#u81 {
  position:absolute;
  left:2px;
  top:52px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:200px;
}
#u82 {
  position:absolute;
  left:212px;
  top:55px;
  width:366px;
  height:200px;
}
#u83 {
  position:absolute;
  left:2px;
  top:92px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:46px;
}
#u84 {
  position:absolute;
  left:1px;
  top:500px;
  width:600px;
  height:46px;
}
#u85 {
  position:absolute;
  left:2px;
  top:15px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:547px;
  top:500px;
  width:38px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u87 {
  position:absolute;
  left:358px;
  top:14px;
  width:106px;
  height:30px;
  overflow:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u90 {
  position:absolute;
  left:30px;
  top:0px;
  width:75px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u91 {
  position:absolute;
  left:0px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CC33;
}
#u92 {
  position:absolute;
  left:358px;
  top:14px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CC33;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u94 {
  position:absolute;
  left:388px;
  top:14px;
  width:76px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u95 {
  position:absolute;
  left:0px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:475px;
  top:14px;
  width:110px;
  height:30px;
  overflow:hidden;
}
#u96_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u96_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(141, 185, 11, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u99 {
  position:absolute;
  left:30px;
  top:0px;
  width:78px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  position:absolute;
  left:0px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CC33;
}
#u101 {
  position:absolute;
  left:475px;
  top:14px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CC33;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(141, 185, 11, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u103 {
  position:absolute;
  left:505px;
  top:14px;
  width:78px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u104 {
  position:absolute;
  left:0px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:134px;
}
#u105 {
  position:absolute;
  left:50px;
  top:333px;
  width:97px;
  height:134px;
}
#u106 {
  position:absolute;
  left:2px;
  top:59px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:148px;
}
#u107 {
  position:absolute;
  left:98px;
  top:256px;
  width:96px;
  height:148px;
}
#u108 {
  position:absolute;
  left:2px;
  top:66px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u109 {
  position:absolute;
  left:15px;
  top:176px;
  width:39px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u111 {
  position:absolute;
  left:54px;
  top:156px;
  width:44px;
  height:45px;
}
#u112 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u113 {
  position:absolute;
  left:98px;
  top:145px;
  width:46px;
  height:44px;
  -webkit-transform:rotate(338deg);
  -moz-transform:rotate(338deg);
  -ms-transform:rotate(338deg);
  transform:rotate(338deg);
}
#u114 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u115 {
  position:absolute;
  left:144px;
  top:156px;
  width:45px;
  height:42px;
  -webkit-transform:rotate(325deg);
  -moz-transform:rotate(325deg);
  -ms-transform:rotate(325deg);
  transform:rotate(325deg);
}
#u116 {
  position:absolute;
  left:2px;
  top:13px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u117 {
  position:absolute;
  left:182px;
  top:185px;
  width:41px;
  height:37px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
}
#u119 {
  position:absolute;
  left:78px;
  top:194px;
  width:83px;
  height:78px;
}
#u120 {
  position:absolute;
  left:2px;
  top:31px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:21px;
  top:353px;
  width:327px;
  height:130px;
  overflow:hidden;
  touch-action:none;
}
#u121_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:129px;
  font-size:13px;
}
#u123 {
  position:absolute;
  left:2px;
  top:56px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u124 {
  position:absolute;
  left:62px;
  top:23px;
  width:244px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u125 {
  position:absolute;
  left:2px;
  top:3px;
  width:240px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:21px;
  font-size:13px;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:322px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u128 {
  position:absolute;
  left:302px;
  top:0px;
  width:24px;
  height:21px;
  font-size:13px;
  color:#FFFFFF;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#3366FF;
}
#u130 {
  position:absolute;
  left:10px;
  top:28px;
  width:42px;
  height:16px;
  font-size:13px;
  color:#3366FF;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u132 {
  position:absolute;
  left:62px;
  top:52px;
  width:278px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u133 {
  position:absolute;
  left:2px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#3366FF;
}
#u134 {
  position:absolute;
  left:10px;
  top:56px;
  width:42px;
  height:16px;
  font-size:13px;
  color:#3366FF;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u136 {
  position:absolute;
  left:62px;
  top:97px;
  width:329px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:325px;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#3366FF;
}
#u138 {
  position:absolute;
  left:10px;
  top:102px;
  width:42px;
  height:16px;
  font-size:13px;
  color:#3366FF;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:628px;
  top:185px;
  width:136px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:406px;
  top:346px;
}
#u142_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:57px;
  height:22px;
}
#u143p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:49px;
  height:4px;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  transform:rotate(-30deg);
}
#u143p000_img {
  position:absolute;
  left:-9px;
  top:-12px;
  width:61px;
  height:24px;
}
#u143p001 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:22px;
  height:22px;
}
#u143p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:34px;
  height:42px;
}
#u143p002 {
  position:absolute;
  left:40px;
  top:-12px;
  width:3px;
  height:3px;
}
#u143p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:15px;
  height:23px;
}
#u143.compound {
  width:0px;
  height:0px;
}
#u143 {
  position:absolute;
  left:-2px;
  top:34px;
  width:45px;
  height:2px;
}
#u144 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(141, 185, 11, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u145 {
  position:absolute;
  left:13px;
  top:0px;
  width:45px;
  height:23px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u146 {
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
