#one {

  background: url('../../images/1/bg.png');
  position:relative;
  #a {
    position: absolute;
    left: 36px;
    top: 140px;
  }
  #b {
    position: absolute;
    left: 36px;
    top: 201px;
  }
  #c {
    position: absolute;
    left: 40px;
    top: 262px;
  }
  p {
    float: right;
    font-size: 24px;
    margin: 10px;
    margin-left: 20px;
    &:hover{
      color:#FD8A3D;
    }
  }
  #cat{
    position:absolute;
    left:154px;
    top:308px;
  }
  #ball{
    position:absolute;
    left:301px;
    top:370px;
  }
  #music{
    position:absolute;
    left:365px;
    top:105px;
  }
  #sentence-a{
    position:absolute;
    left:20px;
    top:152px;
  }
  #sentence-b{
    position:absolute;
    left:65px;
    top:200px;
  }
  #sentence-c{
    position:absolute;
    left:111px;
    top:250px;
  }
}
