#popup-container {
  #popup {
    z-index: 10;
    position: absolute;
    min-width: 100px;
    max-width: 200px;
    font-size: 16px;
    color: #444;
    word-wrap: break-word;
    transform: translate(-10px, calc(-100% - 44px));
    #options div {
      background: #fff;
      padding: 10px;

      &:hover {
        background: #7BD339;
      }
    }
    img {
      position: absolute;
      transform: translate(0, -100%);
    }
    .fill {
      position: absolute;
      top: 10px;
      left: 30px;
      pointer-events: none;
    }
  }
  #question-container {
    position: absolute;

    #question {
      transform: translate(-80px, -100%);
      position: absolute;
    }
    #num-icon {
      position: absolute;
      pointer-events: none;
      left: 30px;
      top: -41px;
    }
  }
}