#public-control {
  position: relative;
  right: 0;
  div.indicate {
    position: absolute;
    right: 0;
    @mixin indicate() {
      width: 120px;
      height: 34px;
      margin: 10px;
      float: left;
    }
    div.step-show {
      @include indicate();
      margin-right: 0;

      background: url('../../images/public-control/step-show/help.png');
    }
    div.follow-me {
      @include indicate();
      background: url('../../images/public-control/follow-me/follow.png');
    }
  }
}
