.container {
  .public-container {
    height: 500px;
    position: relative;
    z-index: 10;
    pointer-events: none;
    #public-control {
      pointer-events: initial;
    }
    @mixin transition() {
      transition: background-image 1s ease-in-out;

    }
    div.indicate {
      position: absolute;
      right: 0;
      @mixin indicate() {
        width: 120px;
        height: 34px;
        margin: 10px;
        float: left;
        @include transition();
      }
      @mixin check-mark() {
        width: 21px;
        height: 16px;
        transform: translate(6px, 10px);
      }
      div.step-show {
        @include indicate();
        margin-right: 0;

        background: url('../../images/public-control/step-show/help.png');
        &:hover {
          background: url('../../images/public-control/step-show/help-hover.png');

        }
        .check-mark {
          @include check-mark();
          background: url('../../images/public-control/step-show/check-mark.png')
        }
      }
      div.follow-me {
        @include indicate();
        background: url('../../images/public-control/follow-me/follow.png');
        &:hover {
          background: url('../../images/public-control/follow-me/follow-me-hover.png');

        }
        .check-mark {
          @include check-mark();
          background: url('../../images/public-control/follow-me/check-mark.png')
        }
      }
    }
    .pop-up {
      position: absolute;
      width: 320px;
      height: 190px;
      left: 20px;
      bottom: 60px;
      color: #444;
      font-size: 18px;
      border-radius: 10px;
      border: 1px rgba(0, 0, 0, .2) solid;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 31px, rgba(255, 255, 255, 0.9) 31px, rgba(255, 255, 255, 0.9) 98%, rgba(0, 0, 0, 0.2));
      .header {
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        .close {
          width: 23px;
          height: 23px;
          float: right;
          background: url('../../images/public-control/close.png');
          @include transition();

          &:hover {
            background: url("../../images/public-control/close-hover.png");
          }
          &.click {
            background: url("../../images/public-control/close-click.png");

          }
        }
      }
      dl {
        margin: 0;
        padding: 10px;
        dt {
          color: #f28e00;
          float: left;
        }
        dd {
          float: left;
          width: 200px;
          margin-left: 10px;
          &:hover{
            color:#FD8A3D;
          }
        }
      }
    }
    .control {
      width: 310px;
      height: 40px;
      background: url('../../images/public-control/control/bg.png');
      position: fixed;
      top: 500px;
      left: 50%;
      transform: translate(-50%, -100%);
      @mixin control-btn() {
        width: 62px;
        height: 16px;
        top: 32%;
        position: absolute;
        background-repeat: no-repeat;
      }
      .prev {
        @include control-btn();
        left: 18%;
        background-image: url('../../images/public-control/control/prev.png');
        @include transition();
        &:hover {
          background-image: url('../../images/public-control/control/prev-hover.png');
        }
        &.click {
          background-image: url('../../images/public-control/control/prev-click.png');

        }
      }
      .next {
        @include control-btn();
        right: 18%;
        background-image: url('../../images/public-control/control/next.png');
        @include transition();
        &:hover {
          background-image: url('../../images/public-control/control/next-hover.png');
        }
        &.click {
          background-image: url('../../images/public-control/control/next-click.png');

        }
      }
      .play {
        width: 40px;
        height: 40px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%) rotate(0deg);
        transition: transform .8s ease-in-out;

        background-image: url('../../images/public-control/control/btn-bg.png');
        &:hover {
          transform: translateX(-50%) rotate(360deg);
        }
        img.pause{
          @include transition();
          transform: translate(-50%, -50%)

        }
      }
    }
    .step {
      width: 83px;
      height: 61px;
      position: absolute;
    }
  }
}
