body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2400.35674227353px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:500px;
}
#u857 {
  position:absolute;
  left:2px;
  top:242px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:63px;
}
#u858 {
  position:absolute;
  left:14px;
  top:27px;
  width:263px;
  height:63px;
}
#u859 {
  position:absolute;
  left:2px;
  top:24px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:46px;
}
#u860 {
  position:absolute;
  left:0px;
  top:500px;
  width:600px;
  height:46px;
}
#u861 {
  position:absolute;
  left:2px;
  top:15px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:553px;
  top:500px;
  width:38px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u863 {
  position:absolute;
  left:462px;
  top:500px;
  width:38px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:73px;
}
#u864 {
  position:absolute;
  left:226px;
  top:220px;
  width:102px;
  height:73px;
}
#u865 {
  position:absolute;
  left:2px;
  top:28px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:100px;
}
#u866 {
  position:absolute;
  left:234px;
  top:293px;
  width:70px;
  height:100px;
}
#u867 {
  position:absolute;
  left:2px;
  top:42px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:91px;
}
#u868 {
  position:absolute;
  left:14px;
  top:249px;
  width:188px;
  height:91px;
}
#u869 {
  position:absolute;
  left:2px;
  top:38px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:338px;
  top:245px;
  width:244px;
  height:130px;
}
#u871 {
  position:absolute;
  left:2px;
  top:57px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:338px;
  top:245px;
  width:62px;
  height:44px;
}
#u873 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:399px;
  top:245px;
  width:62px;
  height:44px;
}
#u875 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:460px;
  top:245px;
  width:62px;
  height:44px;
}
#u877 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:520px;
  top:245px;
  width:62px;
  height:44px;
}
#u879 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:338px;
  top:288px;
  width:62px;
  height:44px;
}
#u881 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:399px;
  top:288px;
  width:62px;
  height:44px;
}
#u883 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:460px;
  top:288px;
  width:62px;
  height:44px;
}
#u885 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:520px;
  top:288px;
  width:62px;
  height:44px;
}
#u887 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:338px;
  top:331px;
  width:62px;
  height:44px;
}
#u889 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:399px;
  top:331px;
  width:62px;
  height:44px;
}
#u891 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:460px;
  top:331px;
  width:62px;
  height:44px;
}
#u893 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:520px;
  top:331px;
  width:62px;
  height:44px;
}
#u895 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:366px;
  top:375px;
  width:16px;
  height:42px;
}
#u897 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:338px;
  top:375px;
  width:16px;
  height:42px;
}
#u899 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:395px;
  top:375px;
  width:16px;
  height:42px;
}
#u901 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:424px;
  top:375px;
  width:16px;
  height:42px;
}
#u903 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:453px;
  top:375px;
  width:16px;
  height:42px;
}
#u905 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:482px;
  top:375px;
  width:16px;
  height:42px;
}
#u907 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:511px;
  top:375px;
  width:16px;
  height:42px;
}
#u909 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:538px;
  top:375px;
  width:16px;
  height:42px;
}
#u911 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:566px;
  top:375px;
  width:16px;
  height:42px;
}
#u913 {
  position:absolute;
  left:2px;
  top:13px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:46px;
  background:inherit;
  background-color:rgba(46, 46, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:442px;
  top:500px;
  width:152px;
  height:46px;
}
#u915 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:46px;
  background:inherit;
  background-color:rgba(46, 46, 46, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:7px;
  top:500px;
  width:152px;
  height:46px;
}
#u917 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u918 {
  position:absolute;
  left:395px;
  top:267px;
  width:313px;
  height:1px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:42px;
}
#u920 {
  position:absolute;
  left:28px;
  top:107px;
  width:539px;
  height:42px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:659px;
  top:114px;
  width:200px;
  height:157px;
}
#u923 {
  position:absolute;
  left:2px;
  top:70px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u924 {
  position:absolute;
  left:676px;
  top:128px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u926 {
  position:absolute;
  left:676px;
  top:167px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u928 {
  position:absolute;
  left:676px;
  top:205px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u930 {
  position:absolute;
  left:676px;
  top:247px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u932 {
  position:absolute;
  left:659px;
  top:161px;
  width:200px;
  height:1px;
}
#u933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u934 {
  position:absolute;
  left:659px;
  top:199px;
  width:200px;
  height:1px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u936 {
  position:absolute;
  left:659px;
  top:238px;
  width:200px;
  height:1px;
}
#u937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u938 {
  position:absolute;
  left:702px;
  top:121px;
  width:45px;
  height:36px;
}
#u939 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u940 {
  position:absolute;
  left:702px;
  top:162px;
  width:45px;
  height:37px;
}
#u941 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u942 {
  position:absolute;
  left:702px;
  top:199px;
  width:37px;
  height:38px;
}
#u943 {
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u944 {
  position:absolute;
  left:708px;
  top:239px;
  width:31px;
  height:32px;
}
#u945 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:917px;
  top:93px;
  width:127px;
  height:16px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:917px;
  top:119px;
  width:200px;
  height:157px;
}
#u949 {
  position:absolute;
  left:2px;
  top:70px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u950 {
  position:absolute;
  left:934px;
  top:126px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u952 {
  position:absolute;
  left:934px;
  top:165px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u954 {
  position:absolute;
  left:934px;
  top:203px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u956 {
  position:absolute;
  left:934px;
  top:245px;
  width:96px;
  height:24px;
  font-size:20px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u958 {
  position:absolute;
  left:917px;
  top:159px;
  width:200px;
  height:1px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u960 {
  position:absolute;
  left:917px;
  top:197px;
  width:200px;
  height:1px;
}
#u961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u962 {
  position:absolute;
  left:917px;
  top:236px;
  width:200px;
  height:1px;
}
#u963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:917px;
  top:119px;
  width:200px;
  height:40px;
}
#u965 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:167px;
}
#u966 {
  position:absolute;
  left:1195px;
  top:119px;
  width:209px;
  height:167px;
}
#u967 {
  position:absolute;
  left:2px;
  top:76px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  position:absolute;
  left:1195px;
  top:61px;
  width:230px;
  height:48px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:165px;
}
#u970 {
  position:absolute;
  left:1491px;
  top:121px;
  width:213px;
  height:165px;
}
#u971 {
  position:absolute;
  left:2px;
  top:74px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  position:absolute;
  left:1491px;
  top:63px;
  width:230px;
  height:48px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u974 {
  position:absolute;
  left:960px;
  top:123px;
  width:45px;
  height:36px;
}
#u975 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u976 {
  position:absolute;
  left:960px;
  top:164px;
  width:45px;
  height:37px;
}
#u977 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u978 {
  position:absolute;
  left:960px;
  top:201px;
  width:37px;
  height:38px;
}
#u979 {
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u980 {
  position:absolute;
  left:966px;
  top:241px;
  width:31px;
  height:32px;
}
#u981 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:669px;
  top:95px;
  width:113px;
  height:16px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u984 {
  position:absolute;
  left:1786px;
  top:121px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u985 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u986 {
  position:absolute;
  left:1864px;
  top:121px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u987 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u988 {
  position:absolute;
  left:1786px;
  top:165px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u989 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u990 {
  position:absolute;
  left:1864px;
  top:165px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u991 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u992 {
  position:absolute;
  left:1786px;
  top:209px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u993 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u994 {
  position:absolute;
  left:1864px;
  top:209px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u995 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u996 {
  position:absolute;
  left:1786px;
  top:253px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u997 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u998 {
  position:absolute;
  left:1864px;
  top:253px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u999 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u1000 {
  position:absolute;
  left:1809px;
  top:130px;
  width:45px;
  height:36px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:1776px;
  top:84px;
  width:230px;
  height:16px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1004 {
  position:absolute;
  left:2056px;
  top:121px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1006 {
  position:absolute;
  left:2134px;
  top:121px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1008 {
  position:absolute;
  left:2056px;
  top:165px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1010 {
  position:absolute;
  left:2134px;
  top:165px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1012 {
  position:absolute;
  left:2056px;
  top:209px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1014 {
  position:absolute;
  left:2134px;
  top:209px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1016 {
  position:absolute;
  left:2056px;
  top:253px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1018 {
  position:absolute;
  left:2134px;
  top:253px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u1020 {
  position:absolute;
  left:2079px;
  top:130px;
  width:45px;
  height:36px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:2050px;
  top:83px;
  width:230px;
  height:32px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:359px;
  height:22px;
}
#u1024p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:352px;
  height:4px;
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
}
#u1024p000_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:363px;
  height:24px;
}
#u1024p001 {
  position:absolute;
  left:32px;
  top:-103px;
  width:3px;
  height:3px;
}
#u1024p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:14px;
  height:23px;
}
#u1024p002 {
  position:absolute;
  left:301px;
  top:90px;
  width:22px;
  height:22px;
}
#u1024p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1024.compound {
  width:0px;
  height:0px;
}
#u1024 {
  position:absolute;
  left:2085px;
  top:246px;
  width:348px;
  height:2px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:-7px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u1026 {
  position:absolute;
  left:1798px;
  top:157px;
  width:1px;
  height:200px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1028 {
  position:absolute;
  left:1786px;
  top:393px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u1030 {
  position:absolute;
  left:1809px;
  top:402px;
  width:45px;
  height:36px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:1786px;
  top:367px;
  width:230px;
  height:16px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u1034 {
  position:absolute;
  left:1786px;
  top:498px;
  width:79px;
  height:45px;
  font-size:18px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u1036 {
  position:absolute;
  left:1809px;
  top:507px;
  width:45px;
  height:36px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  position:absolute;
  left:1786px;
  top:472px;
  width:230px;
  height:16px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  position:absolute;
  left:632px;
  top:302px;
  width:254px;
  height:16px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:632px;
  top:331px;
  width:254px;
  height:32px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1044 {
  position:absolute;
  left:275px;
  top:381px;
  width:362px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u1045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:632px;
  top:413px;
  width:254px;
  height:16px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:2px;
}
#u1048 {
  position:absolute;
  left:127px;
  top:402px;
  width:514px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u1049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:632px;
  top:462px;
  width:254px;
  height:16px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
