.container {
    position: relative;
    right: 0;
}

.container div.indicate {
    position: absolute;
    right: 0;
}

.container div.indicate div.step-show {
    width: 120px;
    height: 34px;
    margin: 10px;
    float: left;
    transition: background-image 1s ease-in-out;
    margin-right: 0;
    background: url("../images/public-control/step-show/help.png");
}

.container div.indicate div.step-show:hover {
    background: url("../images/public-control/step-show/help-hover.png");
}

.container div.indicate div.step-show .check-mark {
    width: 21px;
    height: 16px;
    transform: translate(6px, 10px);
    background: url("../images/public-control/step-show/check-mark.png");
}

.container div.indicate div.follow-me {
    width: 120px;
    height: 34px;
    margin: 10px;
    float: left;
    transition: background-image 1s ease-in-out;
    background: url("../images/public-control/follow-me/follow.png");
}

.container div.indicate div.follow-me:hover {
    background: url("../images/public-control/follow-me/follow-me-hover.png");
}

.container div.indicate div.follow-me .check-mark {
    width: 21px;
    height: 16px;
    transform: translate(6px, 10px);
    background: url("../images/public-control/follow-me/check-mark.png");
}

.container .pop-up {
    position: absolute;
    width: 320px;
    min-height: 190px;
    left: 20px;
    bottom: 60px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #444;
    font-size: 18px;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 31px, rgba(255, 255, 255, 0.9) 31px, rgba(255, 255, 255, 0.9) 98%, rgba(0, 0, 0, 0.2));
}

.container .pop-up .header {
    color: #fff;
    text-align: center;
    padding: 5px 10px;
}

.container .pop-up .header .close {
    width: 23px;
    height: 23px;
    float: right;
    background: url("../images/public-control/close.png");
    transition: background-image 1s ease-in-out;
}

.container .pop-up .header .close:hover {
    background: url("../images/public-control/close-hover.png");
}

.container .pop-up .header .close.click {
    background: url("../images/public-control/close-click.png");
}

.container .pop-up dl {
    margin: 0;
    padding: 10px;
}

.container .pop-up dl dt {
    color: #f28e00;
    float: left;
}

.container .pop-up dl dd {
    float: left;
    width: 200px;
    margin-left: 10px;
}

.container .control {
    width: 310px;
    height: 40px;
    background: url("../images/public-control/control/bg.png");
    position: fixed;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.container .control .prev {
    width: 62px;
    height: 16px;
    top: 32%;
    position: absolute;
    background-repeat: no-repeat;
    left: 18%;
    background-image: url("../images/public-control/control/prev.png");
    transition: background-image 1s ease-in-out;
}

.container .control .prev:hover {
    background-image: url("../images/public-control/control/prev-hover.png");
}

.container .control .prev.click {
    background-image: url("../images/public-control/control/prev-click.png");
}

.container .control .next {
    width: 62px;
    height: 16px;
    top: 32%;
    position: absolute;
    background-repeat: no-repeat;
    right: 18%;
    background-image: url("../images/public-control/control/next.png");
    transition: background-image 1s ease-in-out;
}

.container .control .next:hover {
    background-image: url("../images/public-control/control/next-hover.png");
}

.container .control .next.click {
    background-image: url("../images/public-control/control/next-click.png");
}

.container .control .play {
    width: 40px;
    height: 40px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) rotate(0deg);
    transition: transform .8s ease-in-out;
    background-image: url("../images/public-control/control/btn-bg.png");
}

.container .control .play:hover {
    transform: translateX(-50%) rotate(360deg);
}

.container .step {
    width: 83px;
    height: 61px;
    position: absolute;
}

/*# sourceMappingURL=public-control.css.map */
